.container {
  width: 40rem;
  height: 10rem;
  background-color: cadetblue;
  margin: 20rem 25rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  i {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }
}
